/**********INICIO ESTILOS GLOBAIS******************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
.banner,
#sobre,
#servicos,
#depoimentos,
#localizacao,
#contato,
#rodape {
    width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
}

p,
a,
figcaption, .imagem-oculos p {
    font-size: 1.3rem;
}

a {
    text-decoration: none;
}

#sobre,
#depoimentos,
#contato {
    background-color: #fcc42c;
}

#servicos p, .rodape p {
    color: white;
}

header,
.rodape {
    background-color: #343c6c;
}

img {
    max-width: 100%; /* Garante que a largura da imagem não ultrapasse o contêiner */
    height: auto; /* Mantém a proporção original da imagem */
    object-fit: contain; /* Garante que a imagem seja contida dentro do contêiner sem distorção */
}

/**********FIM ESTILOS GLOBAIS********************/


/***************INICIO SEÇÃO HEADER**********************/

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 150px;
}

header img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

header nav {
    width: 35%;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

header a {
    color: white;
    font-size: 1.05rem;
}

header nav a:hover {
    border-bottom: 2px solid red;
}

/***************FIM SEÇÃO HEADER***************************/



/****************INICIO SEÇÃO BANNER***************************/
.banner {
    display: flex;
    height: 480px;
}

.banner article {
    width: 50%;
}

.banner .legenda-banner {
    display: flex;
    align-items: center;
    text-align: center;
    color: #fcc42c;
}

.banner .imagem-oculos {
    background-image: url("../imagens/banner.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    text-align: center;
}

.imagem-oculos div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 130px;
}

.imagem-oculos a {
    color: white;
    background-color: green;
    padding: 10px 15px;
    border-radius: 50px;
}

.imagem-oculos a:hover {
    background-color: rgb(224, 247, 50);
    color: black;
}

/****************FIM SEÇÃO BANNER*****************************/


/********************INICIO SEÇÃO SOBRE***********************/
#sobre {
    display: flex;
    flex-direction: column;
}

#sobre section {
    margin: 0 auto;
    display: flex;
    max-width: 1024px;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#sobre article {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 0;
}

#sobre article p {
    line-height: 55px;
    margin-top: 40px;
}

#sobre article p,
#sobre article h2 {
    text-align: center;
}

#sobre article figure {
    width: 100%;
    height: 100%;
}

#sobre article figure img {
    width: 100%;
    height: 100%;
}

/********************FIM SEÇÃO SOBRE**************************/




/********************INICIO SEÇÃO SERVIÇOS********************/
#servicos section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
}

#servicos h2 {
    padding: 30px 0 20px 0;
    text-align: center;
}

#servicos article {
    width: 100%;
    display: flex;
    background-color: #343c6c;
    align-items: center;
    justify-content: space-evenly;
}

#servicos figure {
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#servicos img {
    width: 300px;
    height: 300px;
}

#servicos p,
#servicos figcaption {
    text-align: center;
}

#servicos p {
    width: 300px;
    line-height: 38px;
    margin-bottom: 20px;
}

#servicos div {
    padding: 0 20px;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#servicos div:hover {
    background-color: #fcc42c;
}

#servicos img,
figcaption,
p {
    margin-top: 15px;
}

#servicos figcaption {
    border: 2px solid black;
    padding: 10px;
    color: white;
}

/**********************FIM SEÇÃO SERVIÇOS********************/



/***************INICIO SEÇÃO DEPOIMENTOS********************/
#depoimentos {
    height: auto;
    margin: 25px auto;
}

#depoimentos article {
    height: 90%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

#depoimentos h2 {
    text-align: center;
    background-color: white;
    padding-bottom: 40px;
}

#depoimentos div {
    padding: 10px 0;
    height: 100%;
    text-align: center;
}

#depoimentos p {
    width: 300px;
}

#depoimentos p, strong {
    margin: 15px auto;
}

strong {
    font-size: 1.3rem;
}

#depoimentos img {
    width: 60%;
    border-radius: 100%;
}

/***************FIM SEÇÃO DEPOIMENTOS***********************/




/**************INICIO SEÇÃO LOCALIZAÇÃO********************/
#localizacao {
    text-align: center;
}

#localizacao iframe {
    width: 100%;
    margin: 20px auto;
}

/**************FIM SEÇÃO LOCALIZAÇÃO***********************/




/***************INICIO SEÇÃO CONTATO***********************/
#contato {
    position: relative;
    height: 300px;
    padding-top: 10px;
}

#contato h2 {
    text-align: right;
    width: 8.5%;
}

#contato section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.informacoes-empresa {
    width: 85%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.link {
    display: flex;
    flex-direction: column;
    height: 250px;
    align-items: center;
    justify-content: space-around;
}

.redes-sociais {
    display: flex;
}

.traco-divisor {
    border: 1px solid black;
    width: 100%;
}

.imagem-secao-contato img {
    width: 300px;
    height: 200px;
    border-radius: 50px;
}

.link div {
    display: flex;
    align-items: center;
}

.botao-fixo img {
    width: 70px;
    height: 70px;
    position: fixed;
    right: 25px;
    bottom: 190px;
    background-color: green;
    border-radius: 100%;
}

.botao-fixo img:hover {
    width: 90px;
    height: 90px;
}

span {
    font-weight: bold;
}


/***************FIM SEÇÃO CONTATO**************************/


/*********************INICIO SEÇÃO RODAPÉ******************/
.rodape {
    padding: 20px 0;
    text-align: center;
}

/*********************FIM SEÇÃO RODAPÉ********************/



/********************INICIO MEDIA QUERIES DISPOSITIVOS ATÉ 425PX**********************/
@media(max-width: 425px) {

    /*INICIO SEÇÃO TOPO*/
    header {
        flex-direction: column;
    }
    
    header nav {
        width: 100%;
    }
    /*FIM SEÇÃO TOPO*/

    /*INICIO SEÇÃO BANNER*/
    .banner {
        flex-direction: column;
        align-items: center;
        height: 380px;
    }
    
    .banner .imagem-oculos {
        display: none;
    }

    .banner article {
        width: 100%;
        height: 100%;
    }
    /*FIM SEÇÃO BANNER*/


    /*INICIO SEÇÃO SOBRE*/

    #sobre article {
        width: 100%;
    }

    .sobre {
        width: 100%;
    }
    
    #sobre article p {
        width: 100%;
        line-height: 30px;
        margin-top: 0;
        text-align: justify;
        padding: 0 20px;
    }

    #sobre article p::first-letter {
        font-weight: bold;
        font-size: 1.2rem;
    }
    
    #sobre section .imagem-sobre {
       display: none; 
    }
    
    /*FIM SEÇÃO SOBRE*/


    /*INICIO SEÇÃO SERVIÇOS*/
    #servicos h2 {
        white-space: nowrap;
    }
    
    #servicos article {
        flex-direction: column;
    }

    #servicos article div {
        gap: 10px;
    }
    
    #servicos img {
        width: 200px;
        height: 200px;
    }
    
    /*FIM SEÇÃO SERVIÇOS*/


    /*INICIO SEÇÃO DEPOIMENTOS*/
    #depoimentos {
        height: auto;
    }
    
    #depoimentos article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    
    #depoimentos p, strong, #depoimentos img {
        margin: 10px auto;
    }
    
    strong {
        font-size: 14px;
        border: 1px solid black;
        padding: 0 10px;
    }
    
    #depoimentos img {
        width: 45%;
    }
    /*FIM SEÇÃO DEPOIMENTOS*/


    /*INICIO SEÇÃO LOCALIZAÇÃO*/
    p {
        width: 70%;
        margin: 10px auto;
        line-height: 38px;
    }
    /*FIM SEÇÃO LOCALIZAÇÃO*/


    /*INICIO SEÇÃO CONTATO*/
    #contato {
        height: 600px;
    }
    
    #contato h2 {
        text-align: center;
        width: 100%;
    }
    
    #contato section {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .informacoes-empresa {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .informacoes-empresa div:first-of-type {
        text-align: center;
    }
    
    .imagem-secao-contato img {
       display: none;
    }

    .redes-sociais img {
        width: 90%;
    }
    
    .botao-fixo img {
        width: 50px;
        height: 50px;
        position: fixed;
        right: 25px;
        bottom: 40px;
    }
    
    .botao-fixo img:hover {
        width: 70px;
        height: 70px;
    }
    
    /*FIM SEÇÃO CONTATO*/
}
/********************FIM MEDIA QUERIES DISPOSITIVOS ATÉ 425PX**********************/


/********************INICIO MEDIA QUERIES DISPOSITIVOS ENTRE 426PX ATÉ 768PX**********************/
@media (min-width: 426px) and (max-width: 768px) {

    /*INICIO SEÇÃO TOPO*/
    header {
        flex-direction: column;
    }
    
    header nav {
        width: 95%;
    }
    /*FIM SEÇÃO TOPO*/

    /*INICIO SEÇÃO BANNER*/
    .banner {
        flex-direction: column;
        align-items: center;
        height: 380px;
    }
    
    .banner .imagem-oculos {
        display: none;
    }

    .banner article {
        width: 100%;
        height: 100%;
    }
    /*FIM SEÇÃO BANNER*/


    /*INICIO SEÇÃO SOBRE*/
    #sobre article {
        width: 100%;
    }

    .sobre {
        width: 100%;
    }
    
    #sobre article p {
        width: 100%;
        line-height: 30px;
        margin-top: 0;
        text-align: justify;
        padding: 0 20px;
    }

    #sobre article p::first-letter {
        font-weight: bold;
        font-size: 20px;
    }
    
    #sobre section .imagem-sobre {
       display: none; 
    }
    
    /*FIM SEÇÃO SOBRE*/


    /*INICIO SEÇÃO SERVIÇOS*/
    #servicos h2 {
        white-space: nowrap;
    }
    
    #servicos article {
        flex-direction: column;
    }

    #servicos article div {
        gap: 10px;
    }
    
    #servicos img {
        width: 200px;
        height: 200px;
    }
    
    /*FIM SEÇÃO SERVIÇOS*/


    /*INICIO SEÇÃO DEPOIMENTOS*/
    #depoimentos {
        height: auto;
    }
    
    #depoimentos article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    
    #depoimentos p, strong, #depoimentos img {
        margin: 10px auto;
    }
    
    strong {
        font-size: 16px;
        border: 1px solid black;
        padding: 0 10px;
    }
    
    #depoimentos img {
        width: 45%;
    }
    /*FIM SEÇÃO DEPOIMENTOS*/


    /*INICIO SEÇÃO LOCALIZAÇÃO*/
    p {
        width: 70%;
        margin: 10px auto;
        line-height: 38px;
    }
    /*FIM SEÇÃO LOCALIZAÇÃO*/


    /*INICIO SEÇÃO CONTATO*/
    #contato {
        height: 600px;
    }
    
    #contato h2 {
        text-align: center;
        width: 100%;
    }
    
    #contato section {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .informacoes-empresa {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .informacoes-empresa div:first-of-type {
        text-align: center;
    }
    
    .imagem-secao-contato img {
       display: none;
    }

    .redes-sociais img {
        width: 90%;
    }
    
    .botao-fixo img {
        width: 60px;
        height: 60px;
        position: fixed;
        right: 13px;
        bottom: 40px;
    }
    
    .botao-fixo img:hover {
        width: 80px;
        height: 80px;
    }
    
    /*FIM SEÇÃO CONTATO*/
}

/********************FIM MEDIA QUERIES DISPOSITIVOS ENTRE 426PX ATÉ 768PX**********************/


/********************INICIO MEDIA QUERIES DISPOSITIVOS ENTRE 769PX ATÉ 1067PX**********************/
@media(min-width: 769px) and (max-width: 1067px) {
    /*INICIO SEÇÃO TOPO*/
    
    header nav {
        width: 65%;
    }
    /*FIM SEÇÃO TOPO*/

    /*INICIO SEÇÃO SERVIÇOS*/
    #servicos section {
        width: 100%;
    }

    #servicos h2 {
        white-space: nowrap;
    }
    
    #servicos article {
        flex-direction: column;
    }

    #servicos article div {
        gap: 10px;
    }
    
    #servicos img {
        width: 300px;
        height: 300px;
    }

    /*FIM SEÇÃO SERVIÇOS*/

    /*INICIO SEÇÃO DEPOIMENTOS*/
    #depoimentos {
        height: auto;
    }
    
    #depoimentos article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    
    #depoimentos p, strong, #depoimentos img {
        margin: 10px auto;
    }
    
    strong {
        font-size: 18px;
        border: 1px solid black;
        padding: 0 10px;
    }
    
    #depoimentos img {
        width: 50%;
    }
    /*FIM SEÇÃO DEPOIMENTOS*/

    /*INICIO SEÇÃO CONTATO*/
    #contato {
        height: 500px;
    }
    
    #contato h2 {
        text-align: center;
        width: 100%;
    }
    
    #contato section {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .informacoes-empresa {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .informacoes-empresa div:first-of-type {
        text-align: center;
    }
    
    .imagem-secao-contato img {
       display: none;
    }

    .redes-sociais img {
        width: 90%;
    }
    
    .botao-fixo img {
        width: 60px;
        height: 60px;
        position: fixed;
        right: 13px;
        bottom: 40px;
    }
    
    .botao-fixo img:hover {
        width: 80px;
        height: 80px;
    }
    /*FIM SEÇÃO CONTATO*/
}

/********************FIM MEDIA QUERIES DISPOSITIVOS ENTRE 769PX ATÉ 1067PX**********************/

/*MEDIA QUERIES SEÇÃO TOPO ENTRE 1068PX E 1180PX*/
@media(min-width: 1068px) and (max-width: 1180px) {
    header nav {
        width: 65%;
    }
    /*FIM SEÇÃO TOPO*/

    /*INICIO SEÇÃO SERVIÇOS*/
    #servicos section {
        width: 100%;
    }

    #servicos h2 {
        white-space: nowrap;
    }
    
    #servicos article {
        flex-direction: column;
    }

    #servicos article div {
        gap: 10px;
    }
    
    #servicos img {
        width: 300px;
        height: 300px;
    }
}
/*MEDIA QUERIES SEÇÃO TOPO ENTRE 1068PX E 1180PX*/


/*INICIO MEDIA QUERIES ENTRE 1068PX ATÉ 1300PX - SEÇÃO CONTATO - CLASSE imagem-secao-contato*/
@media(min-width: 1068px) and (max-width: 1300px) {
    .imagem-secao-contato img {
        margin-left: 50px;
        width: 200px;
        height: 200px;
    }
}

/*FIM MEDIA QUERIES ENTRE 1068PX ATÉ 1300PX - SEÇÃO CONTATO - CLASSE imagem-secao-contato*/